name: Docker Image CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ludeeus/action-shellcheck@1.0.0
    - uses: brpaz/hadolint-action@v1.1.0
