name: Docker Image CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ludeeus/actions/shellcheck@0.1.0
    - uses: brpaz/hadolint-action@v1.0.2
